<tr>
	<td class="listing">
		<h3 class="title"><%= listing.title %></h3>
		<span class="content"><%= wrap(listing.content) %></span><br />
		<span class="condition">Condition: <%= listing.condition %></span><br />
		<span class="price">Price: <%= listing.price %></span><br />
		<span class="timestamp">Posted <%= time_ago_in_words(listing.created_at) %> ago.</span>
	</td>
	<% user = listing.user rescue User.find(listing.user_id) %>
	<% if current_user?(user) %>
	<td>
		<%= link_to "delete", listing, :method => :delete, :confirm => "You sure?", :title => listing.title %>
	</td>
	<% end %>
</tr>
