<div id="footer">
	<div class="container_16">
		<nav>
			<ul id="col1" class="grid_4">
				<li class="footer_header">Contact</li>
				<li><%= link_to "Email", contact_path %></li>
				<li><%= link_to "Make a suggestion", contact_path %></li>
				<li><%= link_to "Report an error", contact_path %></li>
				<li><%= link_to "Report misposted content", contact_path %></li>
			</ul>
			<ul id="col2" class="grid_4 push_1">
				<li class="footer_header">Help</li>
				<li><%= link_to "FAQ", help_path %><li>
			</ul>
			<ul id="col3" class="grid_4 push_1">
				<li class="footer_header">Legal</li>
				<li><%= link_to "Terms of Use", terms_path %></li>
				<li><%= link_to "Privacy Policy", privacy_path %></li>
			</ul>
		</nav>
	</div>
</div>
