<header>
	<nav>
		<ul id="navigation" class="links">
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Search", search_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li class="navi_last"><%= link_to "Account", signup_path %></li>
		</ul>
	</nav>
	<%= link_to logo, root_path %>
</header>
