<header>
	<nav>
		<ul id="navigation" class="links">
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Search", search_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li class="navi_last"><%= link_to "Account", "#" %></li>
		</ul>
	</nav>
	<% logo = image_tag("lg_logo.gif", :alt => "Black Market Books", :class => "main_logo") %>
	<%= link_to logo, root_path %>
</header>
